* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    font-family: 'Times New Roman', Times, serif;
}
body {
    
}
nav {
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: #fbbe4b;
}
.brandName {
    width: 30%;
    color: goldenrod;
    float: left;
}
.brandName img {
    border-radius: 50%;
    float: left;
}
.brand::first-letter {
    font-size: 2em;
    float: left;
}
nav ul {
    float: right;
    width: 45%;
    margin: 30px 0;
    
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin: 5px;
    font-size: 1em;
    
}
nav ul li a:link {
    color: white;
    text-decoration: none;
}
nav ul li a:visited {
    color: white;
}
nav ul li :hover {
    padding: 10px;
    background-color: #0b031b;
    color: white;
    border-radius: 10px;
}
nav ul li :active {
    padding: 10px;
    background-color: goldenrod;
    color: white;
}

.hrr {
    clear: both;
    visibility: hidden;
}

/*HOME*/
#home {
    margin-top: 7%;
    background-image: url('../images/carz.png');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;


}
.hom {
    padding: 50px;
    text-align: center;
}
.hom p {
    font-size: 1.5em;
    color: white;
    display: inline;

}
.ome {
    border: 1px solid white;
    padding: 15px 15px;
    border-radius: 10px;
    margin-right: 20px;

}
.homBut a{
    background-color: #fbbe4b;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    display: inline;
    
}
.homBut a:link {
    color: white;
    text-decoration: none
}
.homBut a:visited {
    color: white;   
}
.homBut a:hover {
    background-color: white;
    color: goldenrod;   
}

/*About Us*/
.aboutUs {
    background-color: #0c0a0aa4;
    height: 450px;
    text-align: center;
}
.aboutNote {
    width: 50%;
    font-size: 1.2em;
    color: white;
    float: left;

}
.aboutNote article {
    padding: 50px;
}
.aboutNote h2 {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 20px;

}
.abtImg {
    width: 50%;
    float: right;
    height: 500px;
}
.aboutImg img {
    width: 100%;
    height: 100%;
}
.aboutImg {
    height: 450px;
    overflow: hidden;
}

/*PARTNERS*/
.partner {
   margin-right: auto;
   margin-left: auto;
    
}
.partNote {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.partNote h2 {
    font-weight: 800;
    font-size: 1.5em;
}

/*GALLERY*/

.gall {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.salesGal {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.america {
    text-align: center;    
    color: black;
    font-weight: 800;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    font-size: 1.5em;
    padding: 20px 0;  
}
.galCard {
    width: 25%;
    height: 250px;
    text-align: center;
    
}
.galCard h4 {
    font-size: 1.2em;
}
.galCard img {
    width: 90%; 
    height: 150px;
    padding: 10px;
}
.butSales {
    color: white;
    border-radius: 5px;
    font-weight: 800;
    border: none;
    margin: 20px 5px;
    display: inline;
    font-size: .8em;
}
.butSales a:link{
    color: white;
    background-color: #0b031b;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
}
.butSales a:visited{
    color: white;
    background-color: #0b031b;
}
.butSales a:hover {
    background-color: goldenrod;
}
.butSales a:active {
    color: white;
}

/*WHY US*/
.whyUs {
    background-color:#fbbe4b;
    color:black;
    margin: 50px 0;
}
.whyUsSec {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    box-shadow: 10px 10px 30px;
    padding-top: 5%;
}
.whySec {
    width: 25%;
    height: 320px;
    
}
.whySec img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 0 10px 0;
    border-radius: 5px;
}
.whyHd {
    text-align: center;
    padding: 30px 0;
}
.whyNote {
    padding: 10px;
}

/*CONTACT US*/
.con {
    text-align: center;
    font-size: 2em;
    
}
#contactUs {
    margin: 30px 0;
}
.subscribeHome {
    height: 200px;
} 
.subscribeHome div{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#subMail {
    width: 40%;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #25282A;
    font-size: 1em;
    margin: 10px 0;
}
.regForm {
    width: 50%;
    float: left;
    background-color: #F4C3CB;
}
.regDiv {
    padding: 20px;
}
.regDiv input {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #F4C3CB;
    
}
#workType {
    width: 25%;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
    background-color: #F4C3CB;
}
#fdate {
    width: 15%;
    padding: 10px;
}
.reachUs {
    width: 50%;
    float: left;
    background-color:#F4C3CB;
}
.reachDiv {
    padding: 20px;
    margin: 0 0 7px 100px;
}
.reachDiv input {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0 5px 95px;
    border: 2px solid #F4C3CB;

}
#cusFn {
    margin-left: 5px;
    font-weight: 800;
}
.ini {
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    color: gray;
}
.asterik {
    display: inline;
}
.reportt {
    margin-top: 35px;
}

/*FOOTER*/

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -6px;
    padding-bottom: 30px;
    background-color: #fbbe4b;
}
.footerDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    
}
.footSecOne {
    width: 26%;
    float: left;
    padding: 1% 5%;
    text-align: left;
}
.footImg {
    border-radius: 50%;
}
.footSecTwo {
    width: 25%;
    float: left;
    padding-top: 2%;
}
.footSecTwo p a:link {
    text-decoration: none;
    color: black;
}
.footSecTwo p a:visited {
    color: black;
}

.footSecThr {
    width: 26%;
    float: right;
    padding: 1% 5%;
    padding-top: 2%;
}