* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    font-family: 'Times New Roman', Times, serif;
}
nav {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    border-bottom: 1px solid ghostwhite;
    z-index: 50;
    top: 0;
}
.brandName {
    padding: 10px 30px;
}
.brandName img {
    border-radius: 50%;
    float: left;
}
.brand::first-letter {
    font-size: 2em;
    float: left;
}
nav ul {
    float: left;
    width: 45%;
    padding: 10px 5px; 
    margin-left: 30%;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin: 5px 10px;
    font-size: 1em;
}
nav ul li a:link {
    color: black;
    text-decoration: none;
}
nav ul li a:visited {
    color: black;
}
nav ul li a:hover {
    padding: 10px;
    font-weight: 1000;
    color: black;
}
nav ul li :active {
    padding: 10px;
    color: black;
}
nav ol {
    width: 12%;
    border: 1px;
    float: right;
    list-style-type: none;
    padding: 10px 5px;
}
.hrr {
    clear: both;
    visibility: hidden;
}

/*HOME*/

.mySlides {
    height: 700px;
    width: 1400px;

}

.homBut a{
    background-color: #fbbe4b;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    display: inline;
    
}
.homBut a:link {
    color: white;
    text-decoration: none
}
.homBut a:visited {
    color: white;   
}

/*About Us
.aboutUs {
    background-color: #0c0a0aa4;
    height: 450px;
    text-align: center;
}
.aboutNote {
    width: 50%;
    font-size: 1.2em;
    color: white;
    float: left;

}
.aboutNote article {
    padding: 50px;
}
.aboutNote h2 {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 20px;

}
.abtImg {
    width: 50%;
    float: right;
    height: 500px;
}
.aboutImg img {
    width: 100%;
    height: 100%;
}
.aboutImg {
    height: 450px;
    overflow: hidden;
}
*/
/*PARTNERS*/
.partner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
}
.partNote {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.partNote h2 {
    font-size: 1.5em;
}
.saless img {
    width: 160px;
    height: 120px;
}
.saless {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*GALLERY*/

.gall {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.salesGal {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.galCard {
    width: 33%;
    height: 320px;
    text-align: center;
    
}
.galCard h4 {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.galCard img {
    width: 90%; 
    height: 150px;
    padding: 10px;
}
.moreCars {
    padding: 15px 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbbe4b;
    transition-duration: 0.6s;
    color: white;
    font-weight: 800;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid #fbbe4b;
}
.moreCars:hover {
    background-color: white;
    color: black;
}
.butSales {
    color: white;
    border-radius: 5px;
    font-weight: 800;
    border: none;
    margin: 15px 5px;
    display: inline;
    font-size: .8em;
}
.butSales a:link{
    color: white;
    background-color: #0b031b;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 30px;
}
.butSales a:visited{
    color: white;
    background-color: #0b031b;
}
.butSales a:hover {
    background-color: goldenrod;
}
.butSales a:active {
    color: white;
}

/*WHY US*/
.whyUs {
    background-color: #f6f6f6;
    color:black;
    padding: 60px 0;
}
.whyHd h2 {
    font-size: 1.5em;
}
.whyUsSec {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    color: black;
    font-size: 1em;
}
.whySec {
    width: 25%;
    padding: 10px;
}
.whySec img {
    width: 50px;
    height: 40px;
    border-radius: 5px;
}
.whyHd {
    text-align: center;
    padding: 30px 0;
}
.whyNote {
    padding: 10px;
}
.whyNote h4 {
    margin-bottom: 20px;
}

/*CONTACT US*/
#contactUs {
    margin: 50px 0;
}
.con {
    text-align: center;
    font-size: 1.5em;   
    margin: 5px;
}
.sp {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#spOne{
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: white;
}

#spTwo{
    display: inline-block;
    border: none;
    padding: 10px;
    background-color: white;
}
.sp>button:not(.active):hover {
    box-shadow: 2px -2px 20px 5px
#f6f6f6;
}
.active {
    font-weight: 800;
    box-shadow: 2px 5px 5px
    #f6f6f6;
}
.subGrp {
    background-color: #fbbe4b;

}
.reachArea {
    padding: 10px; 
    margin-top: 30px;margin-bottom: 10px;
    border: 2px solid #f2f2f2;
}
.subscribeHome {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 100px 0;
} 
.subscribeHome div{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#subMail {
    width: 40%;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #25282A;
    font-size: 1em;
    margin-top: 50px;
}
#regForm {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.regDiv input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #f6f6f6;
}
#workType {
    width: 83%;
    padding: 10px 10px;
    border: 2px solid #f6f6f6;
    border-radius: 10px;
}
#fdate {
    width: 47%;
    padding: 10px;
}
#reachUs {
    width: 30%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.reachDiv input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #f6f6f6;
}
.ini {
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    color: gray;
}

.formSales {
    padding: 10px 30px;
    color: white;
    background-color: #fbbe4b;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 800;
    margin-top: 20px;

}

/*FOOTER*/

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -6px;
    padding-bottom: 30px;
    background-color: #0b031b;
    color: white;
}
.footerDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footSecOne {
    width: 35%;
    float: left;
    text-align: left;
    margin-right: 5%;
}
.footSecOne div {
    padding: 10px 30px;
}
.footSecTwo {
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-right: 5%;
}
.footSecTwo a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
}
.footSecTwo a:visited {
    color: white;
}
.footSecThr {
    width: 20%;
    float: left;
    text-align: left;
    margin-top: 20px;
}
/*
.abouty {
    height: 300px;
    width: 100%;
    border: 1px solid;
    display: flex;


}
.bot {
    width: 33%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 5px;
}
.bot img {
    width: 90%;
    height: 250px;

}
.bott {
    width: 60%;
    position: absolute;
    background-color: grey;
    bottom: 40px;
    left: 0;
}

*/












